@import url(../import/reset.css);
@import url(../import/base.css);
@import url(../import/home.css);

.tp-home {
    width: 100%;
    height: 100%;
}
/* logo */
.tp-home .tp-logo {
    position: fixed;
    left: .5rem;
    top: .5rem;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    width: 2.53rem;
    height: .28rem;
    padding: 0;
}
/* 导航 */
.tp-home .tp-nav {
    position: fixed;
    top: .5rem;
    right: .5rem;
    width: .32rem;
}
.tp-home .tp-nav .nav-item {
    position: relative;
    width: .32rem;
    height: .32rem;
    margin-bottom: .4rem;
}
.tp-nav .n-menu .nav-link {
    background: url(../images/tp-icon-menu.png) no-repeat;
    background-size: cover;
}
.tp-nav .n-search .nav-link {
    background: url(../images/tp-icon-search.png) no-repeat;
    background-size: cover;
}
.tp-nav .n-search .search-box {
    position: absolute;
    right: .41rem;
    top: -.09rem;
    width: 4.8rem;
    height: .5rem;
    display: none;
}
.tp-nav .n-search .search-input {
    box-sizing: border-box;
    width: 4.8rem;
    height: .5rem;
    font-size: .18rem;
    color: #fff;
    padding: 0 .4rem;
    background: rgba(0,0,0,.4);
}
.tp-nav .n-search.selected .nav-link {
    position: relative;
    left: -.09rem;
    top: -.09rem;
    width: .5rem;
    height: .5rem;
    background: url(../images/tp-icon-search-hover.jpg) no-repeat;
    background-size: cover;
}
.tp-nav .n-search.selected .search-box {
    display: block;
}
.tp-nav .n-login .nav-link {
    background: url(../images/tp-icon-login.png) no-repeat;
    background-size: cover;
}
.tp-nav .nav-link {
    display: inline-block;
    width: .32rem;
    height: .32rem;
}
/* 分享 */
.tp-share {
    position: fixed;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.tp-share .s-list {

}
.tp-share .s-item {
    width: .2rem;
    height: .2rem;
    margin: .4rem 0;
}
.tp-share .s-icon {
    display: block;
    margin: 0 auto;
}
.tp-share .s-icon.facebook {
    width: .1rem;
    height: .2rem;
    background: url(../images/tp-icon-facebook.png) no-repeat;
    background-size: cover;
}
.tp-share .s-icon.twitter {
    width: .2rem;
    height: .16rem;
    background: url(../images/tp-icon-twitter.png) no-repeat;
    background-size: cover;
}
.tp-share .s-icon.linkedIn {
    width: .2rem;
    height: .18rem;
    background: url(../images/tp-icon-linkedIn.png) no-repeat;
    background-size: cover;
}
/* 轮播点 */
.tp-broadcast {
    position: fixed;
    left: .5rem;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.tp-broadcast .b-item {
    display: block;
    margin: .4rem 0;
}
.tp-broadcast .b-txt {
    display: inline-block;
    cursor: pointer;
}
.tp-broadcast .b-dot {
    display: inline-block;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    background: #8f8f8f;
}
.tp-broadcast .b-name {
    display: inline-block;
    vertical-align: middle;
    font-size: .14rem;
    font-weight: bold;
    margin-left: .2rem;
    display: none;
}
.tp-broadcast .b-line {
    position: relative;
    left: .04rem;
    display: inline-block;
    width: 1px;
    height: .56rem;
    background: #010101;
    margin: .4rem 0;
    display: none;
}
.tp-broadcast .b-item.selected .b-dot {
    background: #000;
}
.tp-broadcast .b-item.selected .b-name{
    display: inline-block;
}
.tp-broadcast .b-item.selected .b-line {
    display: block;
}

/*鼠标提示*/
.tp-mouse {
    position: fixed;
    bottom: 0;
    left: 4.8rem;
}
.tp-mouse .m-icon {
    position: relative;
    left: -.08rem;
    width: .2rem;
    height: .3rem;
    margin-bottom: .2rem;
    background: url(../images/tp-icon-mouse.png) no-repeat;
    background-size: cover;
}
.tp-mouse .m-tips {
    width: .46rem;
    height: 2.4rem;
    font-size: .14rem;
    color: #444;
    writing-mode: vertical-rl;
    white-space: nowrap;
    border-left: 2px solid #8b8b8b;
}

/* 内容 */
.tp-content {
    width: 100%;
    height: 100%;
}
.tp-content .c-wrap {
    position: absolute;
    left: 0px;
    z-index: -1; 
    position: relative;
    background-color: #e8e8e8!important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*top: 100%;    
    display: none;*/
}
.c-news-detail li{
    width: 3.5rem;
    height: 5.4rem;
}
.c-news-detail .c-txt-item{
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: inline-block;
    box-sizing: border-box;
    width: 4.5rem;
    height: 5.4rem;
    background: #fff;
    padding: 0.52rem .4rem;
}
.n-login{
    display: none;
}
.tp-content .c-first {
    background: url(../images/tp-first-bg.png) no-repeat center;
    background-size: cover;
}
.tp-content .c-second {
    /* background: url(../images/tp-second-bg.png) no-repeat center; */
    background-size: cover;
}
.tp-content .c-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
}
.tp-content .c-first .c-main {
    left: 46%;
    top: 43%;
}
.tp-content .c-third .c-main,
.tp-content .c-fourth .c-main {
    white-space: nowrap;
}
.tp-content .c-f-title {
    line-height: .8rem;
    font-size: .72rem;
    font-weight: bold;
    color: #000;
    margin-bottom: .26rem;
    white-space: nowrap;
    letter-spacing: .1rem;
}
.tp-content .c-s-title {
    line-height: .24rem;
    font-size: .16rem;
    color: #000;
    margin-bottom: .3rem;
}
.tp-content .c-s-earth {
    /*width: 13rem;*/
    height: 9.2rem;
    text-align: center;
}
.tp-content .c-s-intrduce {
    position: absolute;
    left: 50%;
    bottom: .3rem;
    transform: translateX(-50%);
}
.tp-content .c-line {
    display: block;
    width: 3.2rem;
    height: .12rem;
    background: #e00000;
    margin-bottom: .26rem;
}
.tp-content .c-more {

}
.tp-content .more-link {
    font-size: .14rem;
    color: #090909;
    font-weight: bold;
}
.tp-content .more-link:after {
    content: "";
    display: inline-block;
    position: relative;
    left: .15rem;
    width: .28rem;
    height: .14rem;
    background: url(../images/tp-icon-arrow.png) no-repeat;
    background-size: cover;
}
/*第三屏*/
.tp-content .c-third-man {
    display: inline-block;
    vertical-align: middle;
    width: 4.7rem;
    padding: 0 4.3rem 0 .5rem;
}
.tp-content .c-man-info {
    position: relative;
}
.tp-content .c-man-info .man-pic {
    width: 4.7rem;
    height: 5.9rem;
}
.tp-content .c-man-info .man-called {
    position: absolute;
    left: 100%;
    top: 40%;
    font-size: .24rem;
    font-weight: bold;
    color: #000;
    padding-left: .8rem;
    white-space: normal;
}
/*.tp-content .c-man-info .man-called:before {
    content: "";
    position: absolute;
    left: 0;
    top: .15rem;
    width: 1.2rem;
    height: .02rem;
    background: #e00000;
}*/
.tp-content .c-third-lift {
    display: inline-block;
    vertical-align: middle;
    width: 4.4rem;
    white-space: normal;
}
.tp-content .life-list {
    margin-bottom: .54rem;
}
.tp-content .life-item {
    margin-bottom: .2rem;
}
.tp-content .life-item .l-name {
    line-height: .36rem;
    font-size: .18rem;
    font-weight: bold;
    color: #000;
}
.tp-content .life-item .l-time {
    line-height: .3rem;
    font-size: .14rem;
    color: #999;
}
.tp-content .life-item .l-time:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.4rem;
    height: .02rem;
    margin-left: .1rem;
    background: #b8b8b8;
}
/*第四屏*/
.tp-content .c-fourth-company {
    display: inline-block;
    vertical-align: top;
    padding-left: 0.7rem;
}
.tp-content .company-show {
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
}
.tp-content .company-icon {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 .1rem;
    background: #b8bdc2;
}
.tp-content .company-icon.hp {
    background: url(../images/tp-icon-hp.png) no-repeat;
    background-size: cover;
}
.tp-content .company-icon.ibm {
    position: relative;
    top: .8rem;
    background: url(../images/tp-icon-ibm.png) no-repeat;
    background-size: cover;
}
.tp-content .company-icon.intel {
    background: url(../images/tp-icon-intel.png) no-repeat;
    background-size: cover;
}
.tp-content .company-info {
    margin-top: 1.2rem;
    text-align: center;
    white-space: normal;
}
.tp-content .company-name {
    font-size: .24rem;
    font-weight: bold;
    color: #000;
}
.tp-content .company-txt {
    max-width: 3.2rem;
    line-height: .34rem;
    font-size: .18rem;
    color: #000;
    margin: 0 auto .3rem;
}
.tp-content .company-share {
    display: inline-block;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background: #e00000 url(../images/tp-icon-lianjie.png) no-repeat center;
    background-size: 50%;
}
.tp-content .c-fourth-introduce {
    display: inline-block;
    vertical-align: top;
    width: 3.2rem;
    white-space: normal;
    margin-left: 0.2rem;
}
.tp-content .c-fourth .c-f-title {
    font-size: .24rem;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top: -.3rem;
}
.tp-content .c-fourth .c-line {
    height: 2px;
}
.tp-content .c-f-introduce {
    font-size: .16rem;
    color: #000;
    word-break: break-word;
    margin-bottom: .26rem;
}

.tp-content .c-fifth-show {
    position: relative;
    width: 12.6rem;
    height: 6.8rem;
}
.tp-content .c-current-list {
    display: inline-block;
}
.tp-content .c-current-item {
    position: relative;
    width: 12.6rem;
    height: 6.8rem;
}
.tp-content .c-fifth-current {
    position: absolute;
    bottom: .3rem;
    left: .3rem;
    right: .3rem;
}
.tp-content .c-fifth-title {
    font-size: .24rem;
    font-weight: bold;
    color: #fff;
}
.tp-content .c-fifth-date {
    font-size: .16rem;
    color: #b9baba;
    margin-bottom: .2rem;
}
.tp-content .c-fifth-txt {
   font-size: .16rem;
   color: #fff;
   margin-bottom: .4rem;
}
.tp-content .c-fifth-list {
    position: relative;
    height: 1.2rem;
    font-size: 0;
}
.tp-content .c-fifth-item {
    display: inline-block;
    width: 20%;
    height: 1.2rem;
    overflow: hidden;
}
.tp-content .c-fifth .more-link {
    color: #fff;
}
.tp-content .c-fifth .item-hover {
    display: inline-block;
    position: relative;
}
.tp-content .c-fifth .item-hover:hover:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    border-top: 2px solid #e00000;
}
.tp-content .c-fifth .item-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: .24rem;
    font-size: .16rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}
.tp-content .c-fifth .c-arrow-lt {
    position: absolute;
    right: 0;
    top: -.6rem;
    width: .6rem;
    height: .6rem;
    background-color: rgba(0,0,0,.6);
}
.tp-content .c-fifth .c-arrow-lt:before,
.tp-content .c-fifth .c-arrow-rt:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: .28rem;
    height: .14rem;
    background: url(../images/tp-arr-lt.png) no-repeat;
    background-size: cover;
}
.tp-content .c-fifth .c-arrow-rt:before {
    background: url(../images/tp-arr-rt.png) no-repeat;
    background-size: cover;
}
.tp-content .c-fifth .c-arrow-rt {
    position: absolute;
    right: -.6rem;
    top: -.6rem;
    width: .6rem;
    height: .6rem;
    background-color: #e00000;
}
.tp-content .c-fifth-copyRight {
    position: absolute;
    left: 50%;
    bottom: .3rem;
    transform: translateX(-50%);
    font-size: .16rem;
    color: #999;
    white-space: nowrap;
}
/*第六屏*/
.tp-content .c-sixth-news {
    position: relative;
    width: 12.64rem;
    height: 6.4rem;
    font-size: 0;
}
.tp-content .c-news-video {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 5.4rem;
    box-shadow: 3px 0 60px rgba(4,0,0,.3);
}
.tp-content .c-news-video .video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1rem;
    height: 1rem;
    background: url(../images/tp-icon-video.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}
.tp-content .c-news-video li{
    position: relative;
    width: 10rem;
    height: 5.4rem;
}
.tp-content .c-news-detail {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: inline-block;
    box-sizing: border-box;
    width: 4.5rem;
    background: #fff;
    box-shadow: 3px 0 60px rgba(4,0,0,.3);
}
.tp-content .c-news-title {
    line-height: .3rem;
    font-size: .2rem;
    color: #181818;
    margin-bottom: .1rem;
}
.tp-content .c-news-brief {
    line-height: .3rem;
    font-size: .14rem;
    color: #999;
    margin-bottom: .2rem;
}
.tp-content .c-news-words {
    line-height: .24rem;
    font-size: .16rem;
    color: #666;
    margin-bottom: .5rem;
}
.tp-content .c-sixth-page {
    position: absolute;
    left: 50%;
    bottom: .3rem;
    transform: translateX(-50%);
    font-size: .16rem;
    color: #333;
    white-space: nowrap;
}
.tp-content .page-arr-lt {
    display: inline-block;
    width: .78rem;
    height: .14rem;
    background: url(../images/tp-arr-long-lt.png) no-repeat;
    background-size: cover;
    margin-right: .2rem;
    cursor: pointer;
}
.tp-content .page-arr-rt {
    display: inline-block;
    width: .78rem;
    height: .14rem;
    background: url(../images/tp-arr-long-rt.png) no-repeat;
    background-size: cover;
    margin-left: .2rem;
    cursor: pointer;
}

/*登录注册浮层*/
.tp-modal-dialog {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e8e8e8;
}
.tp-modal-dialog .modal-dialog-close {
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: .4rem;
    height: .4rem;
    background: url(../images/tp-icon-close.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}
.tp-modal-dialog .modal-dialog-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.tp-modal-dialog .modal-content {
    width: 4.8rem;
}
.tp-modal-dialog .modal-header {
    text-align: center;
}
.tp-modal-dialog .modal-title {
    position: relative;
    line-height: .8rem;
    font-size: .3rem;
    color: #000;
}
.tp-modal-dialog .modal-title:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -.4rem;
    margin-left: -1.26rem;
    width: 2.53rem;
    height: .28rem;
    background: url(../images/tp-logo.png) no-repeat;
    background-size: cover;
}

.tp-modal-dialog .modal-body {

}
.tp-modal-dialog .modal-body-con {

}
.tp-modal-dialog .modal-form {

}
.tp-modal-dialog .form-item {
    position: relative;
    margin-top: .26rem;

}
.tp-modal-dialog .form-label {
    line-height: .34rem;
    font-size: .18rem;
    color: #000;
}
.tp-modal-dialog .form-input {
    width: 4.8rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .18rem;
    color: #fff;
    background: rgba(0,0,0,.3);
    padding: 0 .2rem;
    box-sizing: border-box;
}
.tp-modal-dialog .form-input.signIn {
    background: #e00000;
    margin-top: .14rem;
    cursor: pointer;
}
.tp-modal-dialog .form-status {
    line-height: .5rem;
    margin-bottom: .45rem;
    text-align: center;
}
.tp-modal-dialog .form-status-ask {
    font-size: .18rem;
    color: #333;
    margin: 0 .2rem;
}
.tp-modal-dialog .form-status-signUp {
    font-size: .18rem;
    color: #999;
    margin: 0 .2rem;
    border-bottom: 1px solid #999;
}

.tp-modal-dialog .form-other-login {

}
.tp-modal-dialog .form-other-link {
    display: block;
    width: 100%;
    height: .5rem;
    line-height: .5rem;
    background: #000;
    text-align: center;
    font-size: .18rem;
    color: #999;
    margin-bottom: .3rem;
}
.tp-modal-dialog .form-other-link .icon-twitter {
    display: inline-block;
    width: .2rem;
    height: .16rem;
    background: url(../images/tp-login-twitter.png) no-repeat;
    background-size: cover;
    margin-right: .2rem;
}
.tp-modal-dialog .form-other-link .icon-facebook {
    display: inline-block;
    width: .1rem;
    height: .2rem;
    background: url(../images/tp-login-facebook.png) no-repeat;
    background-size: cover;
    margin-right: .14rem;
}
.tp-modal-dialog .form-forget {
    position: absolute;
    left: 1.3rem;
    top: 0;
    line-height: .34rem;
}
.tp-modal-dialog .form-forget-link {
    font-size: .18rem;
    color: #999;    
    border-bottom: 1px solid #999;
}

/*菜单浮层*/
.tp-menu-pop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e8e8e8;
    font-size: 0;
}
.tp-menu-pop .tp-menu-close {
    position: absolute;
    right: .85rem;
    top: .45rem;
    z-index: 9;
    width: .4rem;
    height: .4rem;
    background: url(../images/tp-icon-close.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}
.tp-menu-pop .tp-menu-contact {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    background: url(../images/tp-contact-bg.jpg) no-repeat;
    background-size: cover;
}
.tp-menu-pop .m-contact-con {
    position: absolute;
    top: 50%;
    right: 1.8rem;
    display: inline-block;
    transform: translateY(-50%);
    /* padding-right: 1.8rem; */
}
.tp-menu-pop .c-f-title {
    line-height: .8rem;
    font-size: .36rem;
    font-weight: bold;
    color: #000;
    margin-bottom: .26rem;
    white-space: nowrap;
}
.tp-menu-pop .c-line {
    display: block;
    width: 3.2rem;
    height: 2px;
    background: #e00000;
    margin-bottom: 1.2rem;
}
.tp-menu-pop .m-contact-list {
    width: 3.2rem;
}
.tp-menu-pop .m-contact-item {
    margin-bottom: .5rem;
    white-space: nowrap;
}
.tp-menu-pop .list-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: .2rem;
}
.tp-menu-pop .list-icon.eMail {
    width: .3rem;
    height: .24rem;
    background: url(../images/tp-icon-eMail.png) no-repeat;
    background-size: cover;
}
.tp-menu-pop .list-icon.phone {
    width: .28rem;
    height: .28rem;
    background: url(../images/tp-icon-phone.png) no-repeat;
    background-size: cover;
}
.tp-menu-pop .list-icon.address {
    width: .22rem;
    height: .3rem;
    margin-right: .28rem;
    background: url(../images/tp-icon-address.png) no-repeat;
    background-size: cover;
}
.tp-menu-pop .list-txt {
    display: inline-block;
}
.tp-menu-pop .list-name {
    line-height: .3rem;
    font-size: .16rem;
    color: #4c4c4c;
    font-weight: bold;
}
.tp-menu-pop .list-info {
    line-height: .28rem;
    font-size: .14rem;
    color: #666;
    white-space: normal;
}
.tp-menu-nav {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
}
.tp-menu-pop .m-nav-list {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
}
.tp-menu-pop .m-nav-item {
    display: block;
    text-align: right;
    line-height: .8rem;    
    font-weight: bold;
}
.tp-menu-pop .m-nav-link {
    font-size: .36rem;
    color: #000;
}
/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
  .tp-content .c-man-info .man-called {
    position: static;
    padding-left: 0;
  }
  .tp-content .c-man-info .man-called:before {
    content: "";
    position: static;  
    display: block;
    width: 1.2rem;
    height: .02rem;
    background: #e00000;
    margin-top: .1rem;
  } 
  .tp-content .c-third-man {
    padding-right: .45rem;
  }
  .tp-content .company-icon {
    width: 4.2rem;
    height: 4.2rem;
  }
  .tp-content .c-fourth-introduce{
    position: absolute;
    left: 9.4rem;
    top: 4.6rem;
  }
  .tp-content .c-sixth-news {
    width: 12rem;
    height: auto;
    box-shadow: 3px 0 60px rgba(4,0,0,.3);
  }
  .tp-content .c-news-video {
    width: 12rem;
    height: 6.48rem;
    box-shadow: none;    
  }
  .tp-content .c-news-video .c-video-item{
      width: 12rem;
      height: 6.48rem;
  }
  .tp-content .c-news-detail {
    position: static;
    width: 12rem;
    height: 4rem;
    box-shadow: none;
  }
  .tp-content .c-news-detail .c-txt-item {
    width: 12rem;
    height: 4rem;
    padding: .4rem;
    box-sizing: border-box;
  }
  .tp-content .c-news-words {
    line-height: .36rem;
  }
  .tp-content .c-news-detail .c-more {
    text-align: right;
  }
}
