body { margin: 0; padding: 0; font:14px/22px 'Microsoft Yahei'; color: #444; background-color:#eee;}
div,p {margin: 0; padding: 0;}

/* 滚动内容样式 */
.scroll_main {
	width: 550px;
	display: block;
	margin: 40px auto;
	background-color:#fff;
	border:1px solid #9a9a9a;
}

/* 滚动内容区样式 */
.scroll_wrap {
	width: 100%;
	height: 350px;
	position: relative;
}
/* 滚动内容样式 */
.scroll_wrap .scroll_cont {
	height: 100%;
	overflow: hidden;
}
.scroll_wrap .scroll_cont p {
	padding:15px;
}

.scroll_wrap .scroll_slider:hover{
	opacity: 1
}