.tp-con-about .about-banner {
	width: 100%;
	height: 7.5rem;
	background: url(../images/tp-aboutus-bg.jpg) no-repeat top center;
	background-size: cover;
}
.tp-con-about .about-detail {
	width: 100%;
	margin: -4rem 0 .5rem;
	padding-top: 4rem;
	overflow: hidden;
}
.tp-con-about .d-story {
	position: relative;
	height: 3.6rem;
	/*top:0.5rem;*/
	margin-left: 2.4rem;
	margin-bottom: 1.4rem;
	padding: .4rem 2.4rem .7rem 1.8rem;
	background: url(../images/tp-ourstory-bg.jpg);
	box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}
.tp-con-about .d-story:before {
	content: "";
	position: absolute;
	left: -1.2rem;
	bottom: 2.4rem;
	width: 6.46rem;
	height: 4.65rem;
	background: url(../images/tp-aboutUs-part1-bg.png) no-repeat top center;
	background-size: cover;
}
.tp-con-about .d-title span{
	position: relative;
}
.tp-con-about .d-title {
	visibility: hidden;
	opacity: 0;
	animation:animation-d-title 1s ease;
	position: relative;
	line-height: .8rem;
	font-size: .48rem;
	color: #6b6b6b;
	text-align: right;
	margin-bottom: .2rem;
	font-weight: bold;
	font-family: Montserrat;
}

.tp-con-about .d-title .after {

	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0rem;
	height: 3px;
	background: #ed1d25;
}


.tp-con-about .d-article {
	position: relative;
	line-height: .36rem;
	font-size: .18rem;
	color: #6b6b6b;
	text-align: right;
	font-family: Montserrat;
		animation: animation-d-article 1s ease;

}
.tp-con-about .d-us {
	position: relative;
	width: 100%;
	height: 7.2rem;
}
.tp-con-about .d-us .d-article {
	text-align: justify;
}
.tp-con-about .d-show{
	position: relative;
	float: left;
	width: 12.78rem; 
	height: 7.2rem;
	background: #ccc;
}
.tp-con-about .d-dot {
	position: absolute;
	bottom: .24rem;
	left: 50%;
	transform: translateX(-50%);	
}
.tp-con-about .d-dot-li {
	display: inline-block;
	width: .9rem;
	height: 3px;
	border-radius: 2px;
	background: #fff;
	margin: 0 .2rem;
}
.tp-con-about .d-dot-li.selected {
	background: #ed1d25;
}
.tp-con-about .d-us-txt{
	float: right;
	position: absolute;
	right: 0;
	top: 1.2rem;
	width: 7.2rem;
	padding: 1.4rem 1.3rem 1.9rem .4rem;
	background:white;
	box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}
.tp-con-about .d-us .d-title{
	text-align: left;
}
.tp-con-about .d-us .d-title:after {
	left: 0;
}
.tp-con-about .d-team {
	background: url(../images/tp-news-bg.jpg) no-repeat top center;
	background-size: cover;
}
.tp-con-about .d-team .d-title{
	line-height: 2rem;
	font-size: .6rem;
	color: #fff;
	padding-top: .4rem;
	text-align: left;
	font-weight: bold;
}
.tp-con-about .d-team .d-title:after{
	content: none;
}
.tp-con-about .d-team-list{
	position: relative;
	width: 14.64rem;
	margin: 0 auto;
	/*overflow: hidden;*/
	font-size: 0;
}
.tp-con-about .d-list{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.tp-con-about .d-team-list .iconfont {
	position: absolute;
	top: 55%;
	font-size: .8rem;
	color: #ed1d25;
}
.tp-con-about .d-team-list .icon-arr-lt-circle {
	left: -1rem;
}
.tp-con-about .d-team-list .icon-arr-rt-circle {
	right: -1rem;
}
.tp-con-about .d-list-wrap{
	width: 200%;
	/*margin-left: -40%;*/
}
.tp-con-about .d-list-ul {
	width: 100%;
	float: left;
	white-space: normal;
	font-size: 0;
}
.tp-con-about .d-item{
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 4.32rem;
	width: 3.44rem;
	margin: 0 .11rem .33rem;
	background: #fff;
	box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
}
.tp-con-about .d-item-pic{
	display: block;
	width: 3.44rem;
	height: 3.38rem;
	background: #ccc;
}
.tp-con-about .d-item-name{
	display: block;	
	line-height: .94rem;
	text-align: center;
	font-size: .24rem;
	color: #666;
}
.tp-con-about .d-item-info{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: .9rem 0 .3rem .2rem;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .5);
}
.tp-con-about .d-info-name {
	line-height: .9rem;
	font-size: .3rem;
	color: #ccc;
}
.tp-con-about .d-info-con {
	position: relative;
	height: 2.1rem;
	line-height: .3rem;
	font-size: .18rem;
	color: #ccc;
	overflow: hidden;
	padding-right: .2rem;
}
.tp-con-about .d-item-article {
	height: 2.1rem;
	line-height: .3rem;
	font-size: .18rem;
	color: #ccc;
}
/* .tp-con-about .d-scroll {
	position: absolute;
	right: .1rem;
	top: 0;
	width: 3px;
	height: .5rem;
	background: #ed1d25;
	border-radius: 2px;
} */
.tp-con-about .d-item:hover .d-item-info {
	display: block;
}
.tp-con-about .about-arr{
	display: none;
}
/* first animation */
.tp-con-about .d-story.animation {
	animation: animation-up 1s ease;
}
/* second animation */
.tp-con-about .d-us.animation .d-show {
	position: absolute;
	animation: animation-lt 1s ease .4s;
}
.tp-con-about .d-us.animation .d-us-txt {
	position: absolute;
	animation: animation-rt 1s ease .4s;
}
/*third animation*/
.tp-con-about .d-team.animation {
	animation: animation-fadeout 2s ease;
}
/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
    .tp-con-about .d-item{
		height: 8.64rem;
		width: 6.88rem;
		margin: 0 .22rem .66rem;
	}
	.tp-con-about .d-item-pic{
		width: 6.88rem;
		height: 6.76rem;
	}
	.tp-con-about .d-item-name{
		line-height: 1.88rem;
		font-size: .48rem;
	}
	.tp-con-about .d-item-info{
		padding: 1.8rem 0 .6rem .4rem;
	}
	.tp-con-about .d-info-name {
		line-height: 1.8rem;
		font-size: .6rem;
	}
	.tp-con-about .d-info-con {
		height: 4.2rem;
		line-height: .6rem;
		font-size: .36rem;
		padding-right: .4rem;
	}
	.tp-con-about .d-item-article {
		height: 4.2rem;
		line-height: .6rem;
		font-size: .36rem;
	}
	.tp-con-about .about-detail .iconfont{
		display: none;
	}
	.tp-con-about .about-arr{
		display: block;
	    text-align: center;
	}
	.tp-con-about .about-arr .iconfont{
	    font-size: 1.6rem;
	    color: #ed1d25;
	    margin: 0 .2rem;
	}
	.tp-con-about .d-story {
		height: auto;
		margin-left: 2.4rem;
	    margin-bottom: 1.4rem;
	    padding: .8rem 1.4rem .7rem 1.8rem;
	}
	.tp-con-about .d-story:before {
		bottom: 3.4rem;
	}
}
/* animation */
/* 左侧移入 */
@keyframes animation-lt{
	0%{left: -100%;}
    100%{left: 0;}
}
/* 右侧移入 */
@keyframes animation-rt{
	0%{right: -100%;}
    100%{right: 0;}
}
/* 下方移入 */
@-webkit-keyframes animation-up{
    0%{bottom: -5rem;}
    100%{bottom: 0;}
}
/*淡出*/
@-webkit-keyframes animation-fadeout{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes animation-d-article{
	30%{top:3rem;}
    100%{top:0;}
}

