html{
    font-size: 100px;
    /*font-size: 5.20833333vw;*/
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font: 12px/1.5 Montserrat,PingFangSC-Regular,Helvetica,Arial,'Microsoft Yahei',sans-serif;
    background: #eee;
}
.dn {
	display: none!important;
}