.tp-con-clients .clients-banner {
    width: 100%;
    height: 5.5rem;
    background: url(../images/tp-clients-bg.jpg) no-repeat top center;
    background-size: cover;
}
.tp-con-clients .clients-detail {
    height: 4.26rem;
    margin: -2.05rem auto 1.8rem;
    text-align: center;
}
.tp-con-clients .clients-company {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 7rem;
    line-height: .6rem;
    padding: .52rem 1.65rem;
    text-align: center;
    margin-right: 0.8rem;
}
.tp-con-clients .clients-company:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 1.54rem;
    height: 3px;
    background: red;
}
.tp-con-clients .clients-company:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 1.54rem;
    height: 3px;
    background: red;
}
.tp-con-clients .company-item {
    cursor: pointer;
}
.tp-con-clients .company-item.selected {
    font-size: 0.48rem;
    color: #ed1d25;
}
.tp-con-clients .company-item.two{
    font-size: 0.24rem;
    color: #6b6b6b;
}
.tp-con-clients .company-item.three{
    font-size: 0.24rem;
    color: #9fa0a0;
}
.tp-con-clients .clients-company-logo {
    display: inline-block;
    vertical-align: top;
    width: 4.26rem;
    height: 4.26rem;
    border-radius: 50%;
    background-color: #f4f4f4;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.tp-con-clients .clients-company-logo .logo-icon{
    display: inline-block;
    width: 1.86rem;
    height: 1.86rem;
    margin: 1.2rem;
}
.tp-con-clients .clients-city {
    padding: 0 1.2rem;
}
.tp-con-clients .city-item {
    display: inline-block;
    line-height: .3rem;
    margin-right: 0.26rem;
}
.tp-con-clients .city-link {
    font-size: 0.24rem;
    color: #6b6b6b;
    font-weight: bold;
}
.tp-con-clients .city-item.selected {
    width: 2.14rem;
    border-bottom: 1px solid #ed1d25;
}
.tp-con-clients .city-item.selected .city-link {
    color: #ed1d25;
}
/*animation*/
.clients-detail.animation {
    position: relative;
    animation: animation-up 1s ease;
}
/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
    .tp-con-clients .clients-detail {
        margin: -3.05rem auto 1.8rem;
    }
}
/* animation */
/* 下方移入 */
@-webkit-keyframes animation-up{
    0%{bottom: -5rem;}
    100%{bottom: 0;}
}
/*遮罩层*/
.tp-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0,0,0,.5);
}
.tp-pop-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.tp-pop-con{
    display: inline-block;
    position: relative;
}
.tp-pop-con .icon-close{
    position: absolute;
    right: .3rem;
    top: .3rem;
    z-index: 99;
    display: inline-block;
    font-size: .28rem;
    color: #eee;
    cursor: pointer;
}
.tp-pop-con .tp-con-main {
    position: relative;
    width: 8rem;
    height: 3.6rem;
    padding: 1rem;
}
.tp-pop-con .tp-con-pic{
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 5.3rem;
    height: 3rem;
}
.tp-pop-con .tp-con-txt{
    position: absolute;
    left: 5.9rem;
    top: 1.74rem;
    width: 3rem;
    height: 2.8rem;
    background: #fff;
    padding: .2rem;
    overflow: hidden;
    box-sizing: border-box;
}
.tp-pop-con .tp-con-txt .title{
    position: relative;
    line-height: .36rem;
    font-size: .18rem;
    color: #2d2d2d;
    font-weight: bold;
    margin-bottom: .1rem;
}
.tp-pop-con .tp-con-txt .title:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1rem;
    height: 2px;
    background: #aaa;
}
.tp-pop-con .tp-con-txt .article {
    line-height: .32rem;
    font-size: .18rem;
    color: #2d2d2d;
}
.tp-pop-con .tp-con-list {
    position: absolute;
    top: 3.8rem;
    left: 2.5rem;
}

.tp-pop-con .list-box {
    width: 3.12rem;
    height: .74rem;
    overflow: hidden;
}
.tp-pop-con .list {
    height: .74rem;
}
.tp-pop-con .item {
    float: left;
    width: .68rem;
    height: .74rem;
    cursor: pointer;
    margin: 0 .05rem;

}
