.tp-con-concepts .concepts-banner {
    width: 100%;
    height: 11.12rem;
    background: url(../images/tp-conceptst-bg.jpg) no-repeat top center;
    background-size: cover;
}
.tp-con-concepts .concepts-detail {
    background: #fff;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
    margin: -6.18rem 2.4rem 2rem;
    box-sizing: border-box;
    padding: .7rem;
}
.tp-con-concepts .d-title{
    position: relative;
    line-height: .72rem;
    font-size: .48rem;
    color: #6b6b6b;
    font-weight: bold;
}
.tp-con-concepts .d-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1.43rem;
    height: 3px;
    background: #ed1d25;
}
.tp-con-concepts .d-problem {
    line-height: .36rem;
    font-size: .24rem;
    color: #6b6b6b;
    margin-top: .36rem;
}
.tp-con-concepts .d-answer {
    line-height: .36rem;
    font-size: .18rem;
    color: #565656;
}
/*animation*/
.concepts-detail.animation {
    position: relative;
    animation: animation-up 1s ease;
}
/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
    .tp-con-clients .clients-detail {
        margin: -3.05rem auto 1.8rem;
    }
}
/* animation */
/* 下方移入 */
@-webkit-keyframes animation-up{
    0%{bottom: -5rem;}
    100%{bottom: 0;}
}