.tp-con-contact .contact-banner {
    width: 100%;
    height: 6.4rem;
    background: url(../images/tp-address-bg.jpg) no-repeat top center;
    background-size: cover;
}
.tp-con-contact .contact-earth {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}
.tp-con-contact .contact-detail {
    position: relative;
    margin: 0 1.2rem 0;
}
.tp-con-contact .d-title{
    position: relative;
    line-height: .42rem;
    font-size: .24rem;
    color: #e81c24;
    font-weight: bold;
    margin-top: 0.45rem;
    margin-bottom: 0.24rem;
}
.tp-con-contact .d-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: .87rem;
    height: 2px;
    background: #6b6b6b;
}
.tp-con-contact .detail-info-item {
    line-height: .3rem;
    font-size: 0.18rem;
    color: #2d2d2d;
}
/* animation */
.tp-con-contact .contact-detail.animation {
    animation: animation-up 1s ease;
}
.tp-con-contact .contact-detail.animation .d-title:after { 
    animation: animation-line 1s ease .5s;
}
/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
    .tp-con-contact .contact-earth {
        top: 1.5rem;
    }
    .tp-con-contact .contact-detail {
        margin-top: 1rem;
    }
    .tp-con-contact .detail-info-item {
        display: inline-block;
    }
}
/* animation */
/* 下方移入 */
@-webkit-keyframes animation-up{
    0%{bottom: -5rem;}
    100%{bottom: 0;}
}
/* 下方移入 */
@-webkit-keyframes animation-line{
    0%{width: 0;}
    100%{width: .87rem;}
}

