.tp-con-history .history-banner {
    width: 100%;
    height: 5.7rem;
    background: url(../images/tp-history-bg.jpg) no-repeat top center;
    background-size: cover;
}
.tp-con-history .history-detail {
    width: 14.4rem; 
    margin: .44rem auto 1.6rem;
}
.tp-con-history .history-detail-li {
    display: block;
    position: relative;
    width: 0.63rem;
    height: 0.88rem;
}
.tp-con-history .history-detail-li:nth-child(odd){
    background: #eee;
}
.tp-con-history .history-detail-li:nth-child(even){
    background: #fff;
}
.tp-con-history .history-year{
    display: inline-block;
    width: 0.63rem;
    height: 0.88rem;
    font-size: 0.18rem;
    color: #aeaeae;
    text-align: center;
    line-height: .88rem;
}
.tp-con-history .history-info{
    display: none;
    position: absolute;
    left: 0.64rem;
    top: 0;
    width: 13.04rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
    padding: 1.1rem .36rem .64rem;
    text-align: left;
}  
.tp-con-history .info-article{
    float: left;
    position: relative;
    width: 45%;
    line-height: 0.36rem;
    font-size: 0.18rem;
    color: #2d2d2d;
    text-align: justify;
}
.tp-con-history .info-article:before{
    content: " “ ";
    position: absolute;
    top: -.4rem;
    font-size: 1.2rem;
    color: #ed1d25;
    font-family: "Montserrat";
    font-weight: lighter;
}
.tp-con-history .info-pic {
    float: right;
    width: 6.8rem;
    height: 3.1rem;
    cursor: pointer;
}
.tp-con-history .history-detail-li.selected,
.tp-con-history .history-detail-li:hover{
    height: 1.8rem;
    background: #ed1d25;
}
.tp-con-history .history-detail-li.selected .history-year,
.tp-con-history .history-detail-li:hover .history-year{
    height: 1.8rem;
    line-height: .44rem;
    font-size: 0.2rem;
    color: #fff;
    font-weight: bold;
}
.tp-con-history .history-detail-li.selected .history-year:before,
.tp-con-history .history-detail-li:hover .history-year:before{
    content: "";
    position: absolute;
    top: .42rem;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 1.08rem;
    background: #fff;
}
.tp-con-history .history-detail-li.selected .history-year:after,
.tp-con-history .history-detail-li:hover .history-year:after{
    content: "";
    position: absolute;
    bottom: .12rem;
    left: 50%;
    margin-left: -0.06rem;
    width: .12rem;
    height: .12rem;
    border-radius: 50%;
    background: #fff;
}
.tp-con-history .history-detail-li.selected .history-info,
.tp-con-history .history-detail-li:hover .history-info{
    display: block;
}
/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
    .tp-con-history .history-detail {
        margin-top: -2rem;
    }
    .tp-con-history .history-info {
        text-align: right;
    }
    .tp-con-history .info-article{
        display: block;
        float: none;
        width: 100%;
    }
    .tp-con-history .info-article:before{
        top: -3.4rem;;
    }
    .tp-con-history .info-pic {
        display: inline-block;
        float: none;
        width: 6.8rem;
        height: 3.1rem;
        margin-bottom: .3rem;
    }
}
/*遮罩层*/
.tp-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0,0,0,.5);
}
.tp-pop-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.tp-pop-con{
    display: inline-block;
    position: relative;
}
.tp-pop-con .icon-close{
    position: absolute;
    right: .3rem;
    top: .3rem;
    display: inline-block;
    font-size: .28rem;
    color: #eee;
    cursor: pointer;
}
.tp-pop-con .pic-show {
    width: 8rem;
    padding: 1rem;
}