/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
  html {
    font-size: 45px;
  }
}

/*pc [1024-1299]*/
@media screen and (min-width: 1024px) and (max-width: 1299px) {
  html {
    font-size: 65px;
  }
}

/*pc [1300-1599]*/
@media screen and (min-width: 1300px) and (max-width: 1599px) {
  html {
    font-size: 75px;
  }
}

/*pc [1600-1920]*/
@media screen and (min-width: 1600px) {
  html {
    font-size: 100px;
  }
}