.tp-con-introduce .introduce-banner {
    width: 100%;
    height: 11.12rem;
    background: url(../images/tp-introduce-bg.jpg) no-repeat top center;
    background-size: cover;
}
.tp-con-introduce .introduce-detail {
    position: relative;
    width: 15.82rem; 
    margin: -6.57rem auto .6rem;    
    padding-top: 1.36rem;
}
.tp-con-introduce .d-introduce {
    width: 11.96rem;
    /*height: 3.96rem;*/
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: .4rem 3.6rem .4rem .6rem;
}
.tp-con-introduce .d-title {
    position: relative;
    line-height: .8rem;
    font-size: .48rem;
    color: #6a6a6a;
    margin-bottom: .4rem;
}
.tp-con-introduce .d-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1rem;
    height: 3px;
    background: #ed1d25;
}
.tp-con-introduce .d-article {
    line-height: .36rem;
    font-size: 0.18rem;
    color: #2b2b2b;
    text-align: justify;
}
.tp-con-introduce .d-show {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 6.66rem;
    height: 8.13rem;
}
.tp-con-introduce .d-show-article {
    position: relative;
    margin-top: 1rem;  
}
.tp-con-introduce .d-show-article:before {
    content: " “ ";
    position: absolute;
    left: .2rem;
    top: .76rem;
    font-size: 1.2rem;
    color: #ed1d25;
}
.tp-con-introduce .d-show-article:after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.08rem;
    width: 2px;
    height: 1.6rem;
    background: #ccc;
}
.tp-con-introduce .article {
    line-height: .36rem;
    font-size: .18rem;
    color: #2d2d2d;
    text-align: justify;
}
.tp-con-introduce .article.one {
    padding: 1.08rem 7.5rem .3rem .85rem;
}
.tp-con-introduce .article.two {
    padding: .7rem 4rem 3rem .85rem;
}
.tp-con-introduce .article.three {
    padding: .2rem 0 .3rem .85rem;
}
/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
    .tp-con-introduce .d-show-article:before {
        left: .2rem;
        top: .24rem;
    }
    .tp-con-introduce .d-show-article:after {
        left: 0;
        top: .6rem;
    }
    .tp-con-introduce .article.one {
        padding: .6rem 1rem .7rem;
    }
    .tp-con-introduce .article.two {
        padding: 0 1rem 1.4rem;
    }
    .tp-con-introduce .article.three {
        padding: 0 1rem .8rem;
    }
    .tp-con-introduce .d-show {
        width: 5.33rem;
        height: 6.5rem;
    }
    .tp-con-introduce .d-introduce {
        width: 11rem;
        /* height: 3.96rem; */
        background: rgba(255, 255, 255, .6);
        box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        padding: .8rem 1.2rem;
    }
    .tp-con-introduce .d-title {
        font-size: .8rem;
        line-height: 1.6rem;
    }
    .tp-con-introduce .d-article {
        font-size: .36rem;
        line-height: .72rem;
    }
    .tp-con-introduce .article{
        font-size: .36rem;
        line-height: .72rem;
    }
}

/* first animation */
.tp-con-introduce .introduce-detail.animation {
    animation: animation-up 1s ease;
}
.tp-con-introduce .introduce-detail.animation .d-show {
    animation: animation-rt 1s ease;
}
/* animation */
/* 右侧移入 */
@keyframes animation-rt{
    0%{right: -100%;}
    100%{right: 0;}
}
/* 下方移入 */
@-webkit-keyframes animation-up{
    0%{bottom: -5rem;}
    100%{bottom: 0;}
}