.tp-con-news {
    background: url("../images/tp-news-bg.jpg") center bottom no-repeat;
    background-size: contain;
}
.tp-con-news .news-banner {
    width: 100%;
    height: 11.19rem;
    background: url(../images/tp-news-bg.jpg) no-repeat top center;    
}
.tp-con-news .news-detail {
    margin: -8.98rem 2.4rem 0;
}
.tp-con-news .news-detail-part {
    position: relative;
    height: 4.94rem;
}
.tp-con-news .news-detail-part.ltr{
    margin-bottom: 2rem;
}
.tp-con-news .news-detail-part.rtl{
    margin-bottom: 1.9rem;
}
.tp-con-news .news-show {
    width: 8.2rem;
    height: 4.94rem;
    background: #ccc;
}
.tp-con-news .ltr .news-show {
    float: left;
}
.tp-con-news .rtl .news-show {
    float: right;
}
.tp-con-news .news-info {
    position: absolute;
    width: 10rem;
}
.tp-con-news .ltr .news-info {
    right: 0;
    text-align: right;
}
.tp-con-news .rtl .news-info {
    left: 0;
    text-align: left;
}
.tp-con-news .news-info-num {
    position: relative;
    /* line-height: .6rem; */
    font-size: 0.48rem;
    color: #ed1d25;
    margin-bottom: 2.4rem;
    padding: 0 .1rem;
}
.tp-con-news .news-info-num:before {
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    width: 3px;
    height: 1.6rem;
    background: rgba(255, 255, 255, .5);
}
.tp-con-news .ltr .news-info-num:before {
    right: 0;
}
.tp-con-news .rtl .news-info-num:before {
    left: 0;
}
.tp-con-news .news-info-txt{
    line-height: .6rem;
    font-size: 0.48rem;
    color: #595757;
    margin-bottom: 0.4rem;
}
.tp-con-news .news-info-more{
    position: relative;
    display: inline-block;
    /*line-height: .6rem; */
    font-size: 0.18rem;
    color: #6b6b6b;
    cursor: pointer;
}
.tp-con-news .ltr .news-info-more:before{
    content: "";
    position: absolute;
    left: -.3rem;
    top: 50%;    
    margin-top: -6px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #ed1d25 transparent transparent;
    cursor: pointer;
}
.tp-con-news .rtl .news-info-more:after{
    content: "";
    position: absolute;
    right: -.3rem;
    top: 50%;    
    margin-top: -6px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #ed1d25;
    cursor: pointer;
}

.tp-con-news .news-arr{
    text-align: center;
}
.tp-con-news .news-arr .iconfont{
    font-size: .8rem;
    color: #ed1d25;
    margin: 0 .1rem;
}
/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
    
}
/*animation*/
.news-detail-part.ltr.animation {
    position: relative;
    animation: animation-lt 1s ease;
}
.news-detail-part.rtl.animation {
    position: relative;
    animation: animation-rt 1s ease;
}



/* animation */
/* 下方移入 */
@-webkit-keyframes animation-up{
    0%{bottom: -5rem;}
    100%{bottom: 0;}
}
/* 左侧移入 */
@keyframes animation-lt{
    0%{left: -100%;}
    100%{left: 0;}
}
/* 右侧移入 */
@keyframes animation-rt{
    0%{right: -100%;}
    100%{right: 0;}
}
/* 下方移入 */
@-webkit-keyframes animation-up{
    0%{bottom: -5rem;}
    100%{bottom: 0;}
}
/*淡出*/
@-webkit-keyframes animation-fadeout{
    0%{opacity: 0;}
    100%{opacity: 1;}
}