/* Reset
-------------------------------------------------- */

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, figure, menu, article, aside, footer, header, nav, section, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre,  /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, select, /* form elements 表单元素 */
th, td, div{ /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

/* Typography
-------------------------------------------------- */

/* 设置默认标题字体 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
i,
var {
  font-style: normal;
}

strong {
  font-weight: normal;
}

/* Lists
-------------------------------------------------- */

/* 重置列表元素
-------------------------
li元素的display为list-item，如果单独使用li会出现list-style，将li嵌套在ul或ol中则继承父元素的none */

ul,
ol {
  list-style: none;
}

/* Forms
-------------------------------------------------- */

/* 使得表单元素能继承字体和字体大小 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
html input[type="button"], /* Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* Corrects inability to style clickable `input` types in iOS. */
}

textarea {
  overflow: hidden;
  vertical-align: top;
}

button, input, textarea {
  border: none;
  outline: none;
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-input-placeholder {
    color: #fff;
}
input:-moz-placeholder {
    color: #fff;
}
input::-moz-placeholder {
    color: #fff;
}
input:-ms-input-placeholder {
    color: #fff;
}

img {
  border: none;
  vertical-align: top;
}

/* a 标签
-------------------------------------------------- */

/* 去掉链接默认样式 */
a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
