.con-main{
    width: 100%;
    overflow: hidden;
}
.tp-page-wrap {
    background: #f3f3f3;
}
/*logo*/
.tp-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: .86rem;
    background: rgba(255, 255, 255, .9);
}
.tp-header .tp-logo {
    display: inline-block;
    width: 2.53rem;
    height: .28rem;
    margin: .3rem 0 .28rem 1.2rem;
}
/* 导航 */
.tp-header .tp-nav-wrap {
    float: right;
}
.tp-header .tp-nav {
    display: inline-block;
    height: .86rem;
}
.tp-header .icon-menu {
    display: none;
}
.tp-header .tp-nav .nav-list {
    font-size: 0;
}
.tp-header .tp-nav .nav-item {
    position: relative;
    display: inline-block;
    line-height: .86rem;
    padding: 0 .26rem;
}
.tp-header .tp-nav .nav-link {
    display: inline-block;
    /* position: relative; */
    width: auto;
    font-size: .2rem;
    color: #595757;
    font-weight: bold;
    font-family: Montserrat;
}
.tp-header .nav-item:hover .nav-link,
.tp-header .nav-item .nav-link.selected,
.tp-header .nav-dropDown-list a.selected  {
    color: #ed1d25;
}
/* .tp-header .tp-nav .nav-link:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -.1rem;
    background-color: #eb5055;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .1s ease;
}
.tp-header .tp-nav .nav-link:hover:after{
    visibility: visible;
    transform: scaleX(1);
} */
.nav-dropDown-list {
    display: none;
    position: absolute;
    left: 0;
    top: .86rem;
    width: 100%;
    line-height: normal;
    background:rgba(255, 255, 255, .9);
    text-align: center;
    white-space: nowrap;
    padding: .24rem 0 .18rem;
}
.nav-dropDown-list a {
    display: block;
    line-height: .36rem;
    font-size: .18rem;
    color: #3d3d3d;
    font-weight: bold;
    font-family: Montserrat;
}
.nav-dropDown-list a:hover {
    color: #ed1d25;
}
/*下拉列表展开时调用动画slide-down*/
/*transform-origin设置缩放下拉框的基点位置*/            
.nav-item:hover .nav-dropDown-list {
    display: block;
    transform-origin: 0 0;
    animation: slide-down .5s ease-out;
    -moz-animation: slide-down .5s ease-out;
    -webkit-animation: slide-down .5s ease-out;
    -o-animation: slide-down .5s ease-out;
}
/*为下拉列表展开时添加名称为slide-down的关键帧动画*/
@-webkit-keyframes slide-down{
    0%{transform: scale(1, 0);}
    100%{transform: scale(1, 1);}
}
/*搜索*/
.tp-tool {
    float: right;
    line-height: .86rem;
}
.tp-search {
    display: inline-block;
    padding: 0 .45rem;
}
.tp-search .search-box {
    display: none;
}
.tp-search.selected {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: .86rem;
    line-height: .86rem;
}
.tp-search.selected .icon-search,
.tp-search.selected .icon-close {
    display: inline-block;
    font-size: .36rem;
    cursor: pointer;
}
.tp-search.selected .search-box {
    display: inline-block;
    width: 90%;
}
.tp-search.selected .search-input {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    line-height: .86rem;
    font-size: .18rem;
    color: #666;
    padding: 0 .2rem;
    background: transparent;  
}
input::-webkit-input-placeholder {
    color: #b5b5b6;
}
input:-moz-placeholder {
    color: #b5b5b6;
}
input::-moz-placeholder {
    color: #b5b5b6;
}
input:-ms-input-placeholder {
    color: #b5b5b6;
}
.tp-login {
    display:none;
    padding: 0 .45rem;
}
.tp-search .iconfont,
.tp-login .iconfont {
    display: block;
    font-size: .3rem;
    color: #595757;
}
.tp-search .icon-search:hover,
.tp-login .icon-login:hover{
    color: #ed1d25;
}
/*分享*/
.tp-share {
    position: fixed;
    right: .5rem;
    top: 2.36rem;
    z-index: 999;
}
.tp-share .s-item {
    width: .4rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    margin: .4rem 0;
}
.tp-share .iconfont {
    display: block;
    width: .4rem;
    height: .4rem;
    background: #ed1d25;
    border-radius: 50%;
    font-size: .24rem;
    color: #fff;
}
/*底部版权*/
.tp-footer {
    font-size: .14rem;
    color: #999;
    padding: .6rem 0 .3rem;
    text-align: center;
}
/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
    .tp-header .tp-nav-wrap {
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .tp-header .icon-menu {
        display: inline-block;
        width: .3rem;
        height: .22rem;
        background: url(../images/tp-icon-menu.png) no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .tp-header .tp-nav {
        position: relative;
        height: .86rem;
        line-height: .86rem;
        padding: 0 .45rem;
    }
    .tp-header .tp-nav:hover .nav-list  {
        display: inline-block;
    }
    .tp-header .tp-nav:hover .icon-menu {
        color: #ed1d25;
    }

    .tp-header .tp-nav .nav-list {
        display: none;
        position: absolute;
        left: 0;
        top: .86rem;
        width: 4.82rem;
        background: rgba(255, 255, 255, .9);
    }
    .tp-header .tp-nav .nav-item {
        display: block;
        line-height: .8rem;
    }
    .nav-dropDown-list {
        left: inherit;
        right: .3rem;
        top: 0;
        z-index: 99;
        /*transform: translateY(-50%);*/
        width: max-content;
        background: transparent;
        padding: 0;
    }
    .nav-dropDown-list a{
        display: block;
        line-height: .8rem;
        font-size: .18rem;
        color: #3d3d3d;
    }
    /*下拉列表展开时调用动画slide-down*/
    /*transform-origin设置缩放下拉框的基点位置*/            
    .nav-item:hover .nav-dropDown-list {
        animation: none;
    }
}