.tp-con-video {
    /*background:url("../images/tp-news-bg.jpg") top center no-repeat;*/
    /*, url("../images/tp-news-bg.jpg") center bottom no-repeat*/
    /* background-size: cover; */
}
.tp-con-video .video-banner {
    width: 100%;
    height: 11rem;;
    background: url(../images/tp-news-bg.jpg) no-repeat top center;
    margin-bottom: .6rem;     
}
.tp-con-video .video-detail-big {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    direction: ltr;
    margin: 0 2rem;
}
.tp-con-video .video-detail-big .video-show{
    position: relative;
    display: inline-block;
    width: 10.75rem;
    height: 6.5rem;
    background: #ccc;
    cursor: pointer;
}
.tp-con-video .video-detail-big .video-info{
    position: absolute;
    right: 0;
    width: 45%;
    margin-top: 2.2rem;
    animation:animation-video-up 1s none;
}
.tp-con-video .video-detail-big .video-info-more {
    margin-top: .2rem;
}
.tp-con-video .video-detail-big .video-info-more:after{
    content: "";
    position: absolute;
    right: -.3rem;
    top: 50%;    
    margin-top: -7px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #ed1d25;
    cursor: pointer;
}
.tp-con-video .video-detail{
    margin: 0 2.4rem 0;
}
.tp-con-video .video-detail-part {
    position: relative;
    height: 4.94rem;
}
.tp-con-video .video-detail-part.ltr{
    direction: ltr;
    margin-bottom: 2rem;
}
.tp-con-video .video-detail-part.rtl{
    direction: rtl;
    margin-bottom: 1.9rem;
}
.tp-con-video .video-show {
    position: relative;
    display: inline-block;
    width: 6.4rem;
    height: 3.92rem;
    background: #ccc;
    cursor: pointer;
}
.tp-con-video .video-show .iconfont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: .64rem;
    color: #fff;
}
.tp-con-video .video-show:hover .iconfont {
    color: #ed1d25;
}
.tp-con-video .ltr .video-show {
    float: left;
    margin-right: 0.7rem;
}
.tp-con-video .rtl .video-show {
    float: right;
    margin-left: .7rem;
}
.tp-con-video .video-info {
    display: inline-block;
    width: calc(100% - 7.1rem);
}
.tp-con-video .ltr .video-info {
    right: 0;
    text-align: left;
}
.tp-con-video .rtl .video-info {
    left: 0;
    text-align: right;
}
.tp-con-video .video-info-more{
    position: relative;
    display: inline-block;
    /*line-height: .6rem; */
    font-size: 0.18rem;
    color: #595757;
    cursor: pointer;
    margin-top: .55rem;
    font-weight: bold;
    font-family: Montserrat;
}
.tp-con-video .rtl .video-info-more:before{
    content: "";
    position: absolute;
    left: -.3rem;
    top: 50%;    
    margin-top: -7px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #ed1d25 transparent transparent;
    cursor: pointer;
}
.tp-con-video .ltr .video-info-more:after{
    content: "";
    position: absolute;
    right: -.3rem;
    top: 50%;    
    margin-top: -7px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #ed1d25;
    cursor: pointer;
}
.video-fadeout{
        animation: animation-fadeout 1s ease;
}
.video-fadeout.video-info-title:after {
      animation: animation-video-line 1s ease;
}

.tp-con-video .video-info-title{
    opacity: 0;
    position: relative;
    line-height: .6rem;
    font-size: .36rem;
    color: #6b6b6b;
    margin-bottom: 0.4rem;
    margin-top: .2rem;
    font-weight: bold;
    font-family: Montserrat;
}
.tp-con-video .video-info-title:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -.2rem;
    width: 4rem;
    height: 3px;
    background: #9e9e9e;
}
.tp-con-video .rtl .video-info-title:after{
    right: 0;
}
.tp-con-video .video-info-txt {
    position: relative;
    line-height: .36rem;
    font-size: .18rem;
    color: #2d2d2d;
    font-family: Montserrat;
    font-weight: lighter;
}
.tp-con-video .video-detail-big .video-info-txt {
    font-weight: normal;
}
.tp-con-video .video-arr{
    text-align: center;
}
.tp-con-video .video-arr .iconfont{
    font-size: .8rem;
    color: #ed1d25;
    margin: 0 .1rem;
}

/*pc [700-1024]*/
@media screen and (max-width: 1024px) {
    
}
/*animation*/
.video-detail-part.ltr.animation {
    position: relative;
    animation: animation-lt 1s ease;
}
.video-detail-part.rtl.animation {
    position: relative;
    animation: animation-rt 1s ease;
}
.video-detail-big.animation {
    animation: animation-video-up 1s ease;
}

.animation-video-textup{
    animation:animation-video-textup 1s ease;
}
.animation-info-more {
        animation:animation-video-more 1s ease;

}
/* animation */
/* 下方移入 */
@-webkit-keyframes animation-up{
    0%{bottom: -5rem;}
    100%{bottom: 0;}
}
/* 左侧移入 */
@keyframes animation-lt{
    0%{left: -100%;}
    100%{left: 0;}
}
/* 右侧移入 */
@keyframes animation-rt{
    0%{right: -100%;}
    100%{right: 0;}
}
/* 下方移入 */
@-webkit-keyframes animation-up{
    0%{bottom: -5rem;}
    100%{bottom: 0;}
}
/*淡出*/
@-webkit-keyframes animation-fadeout{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


@-webkit-keyframes animation-video-up{
    0%{top:80%;opacity: 0.5}
    100%{top:50%;opacity: 1}
}

@-webkit-keyframes animation-video-line{
    0%{width:0px;}
    100%{width:4rem;}
}

@-webkit-keyframes animation-video-textup{
    0%{top:2rem;}
    100%{top:0;}
}


@-webkit-keyframes animation-video-more{
    50%{top:1rem;}
    100%{top:0;}
}
